html{
    height: 100%;
}
.title{
    font-size: 22px;
    font-family: sans-serif;
    text-align: center;

}

.topDiv{
    background: lightblue;
    height: inherit;
    margin:1px;
    padding: 1px;

}

.indexBody{
    min-height: 100%;
    font-family: sans-serif;
    background: radial-gradient(ellipse at center, #326600 0%,#326780 100%);
}

.formBody{
    min-height: 100%;
    font-family: sans-serif;
    background: linear-gradient(to bottom , blue ,white );
}

.formLbl{
    position: fixed;
    left: 40px;
}

.formInpt{
    position: fixed ;
    left: 200px;
}
.menuDiv{
    padding: 10px;
    text-align: center;
    background: rgba(0,0,0,0.2);
    border: 1px solid white;
}
.contentDiv{
    background: white;
    margin: 1px;
    padding: 10px;
    padding-bottom: 50;
    height: 350px;
    border: 2px solid grey;

}
